*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    letter-spacing: 0.2px;
}

.hero_section {
    height: calc(100vh - 345px);
}

ul.faqs li {
    margin-bottom: 20px;
}